NEXT_PUBLIC_APP_URL=http://localhost:3000
API_INTERNAL_URL=http://localhost:4000
REVALIDATE_SECRET=

PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/formflow
AUTH_SECRET=
CORS_ORIGIN=http://localhost:3000
APP_URL=http://localhost:3000
UPLOAD_DIR=./uploads
TRUST_PROXY=1
